# Optimized Abu, The Ultimate Solution

## Introduction

In this document we are reporting the final results that compare our method, abu method and the optimal.

## Abu Method

Abu-Lebdeh describe a method based on tabu-search to improve VNFM placement on datacenter that already has VNF placement. In our work we are considering the VNF placement jointly with VNFM placement so we are going to change it to consider the placement and after that compare it with our method. In Abu-Lebdeh method there is no way to discard a chain so it can generate infeasible results so we are reserving resources for VNFM to prevent the infeasible situation.

As we discuss with Prof. Bakhshi he want to change our reservation algorithm. Instead of reserving on each node we are reserving on random nodes.

We are going to start with following configuration:

- Fat Tree with k = 4
- 100 Chains

### for 100% reservation
- abu solution takes 102.7387068271637 seconds
- Placement has profit: 23500 and cost: 2100
- 46 has been placed successfully from 100

### for 80% reservation
- abu solution takes 108.08455514907837 seconds
- Placement has profit: 23700 and cost: 2100
- 47 has been placed successfully from 100

### for 60% reservation

- abu solution takes 119.64389228820801 seconds
- Placement has profit: 23800 and cost: 2100
- 47 has been placed successfully from 100

### for 40% reservation

- abu solution takes 109.58936262130737 seconds
- Placement has profit: 24600 and cost: 2100
- 49 has been placed successfully from 100

### for 20% reservation

- abu solution takes 114.54797577857971 seconds
- Placement has profit: 24300 and cost: 2100
- 48 has been placed successfully from 100

## Topology: FatTree (k = 6)

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

### Initiation

In [3]:
revenues = []
revenues_err = []

nchains = []

### Chains = 130

In [4]:
r = pd.read_csv('./optimized-abu-with-k-6-130-chains.csv')

r.head()

,run,profit,cost,number_of_placed_chains,number_of_chains,solver,elapsed_time
0,0,45100,5200,90,130,oabu,11270.848830
1,1,45100,5200,90,130,oabu,11275.631928
2,2,45100,5200,90,130,oabu,11261.680984
3,3,45100,5200,90,130,oabu,11282.410964
4,4,45100,5200,90,130,oabu,11287.131489

In [13]:
revenue = (r['profit'] - r['cost'])
avg = revenue.mean()
err = revenue.std()

revenues.append(avg)
revenues_err.append(err)

nchains.append(130)

In [ ]:
_, ax = plt.subplots(figsize=(15, 15))

ax.errorbar(x=nchains, y=revenues, fmt='r--', label='masman', yerr=revenues_err)

ax.set_title('FatTree')
ax.set(ylabel='Revenue', xlabel='Chains')
ax.legend()